<div class="features-container section-container">
    <div class="container">

        <div class="row">
            <div class="col-sm-12 features section-description wow fadeIn">
                <h2>A free user interface designed for you !</h2>
                <div class="divider-1"><div class="line"></div></div>
            </div>
        </div><br>
        <div class="row">
            <div class="col-sm-6 features-box wow fadeInLeft">
                <div class="row">
                    <a href ="/users/register"><div class="col-sm-3 features-box-icon">
                        <i class="fas fa-user-plus"></i>
                    </div></a>
                    <div class="col-sm-9">
                        <h3>Register</h3>
                        <p>You're new ? <br>
                            Just register to get full access to services and widgets !</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 features-box wow fadeInLeft">
                <div class="row">
                    <a href="/users/login">
                        <div class="col-sm-3 features-box-icon">
                            <i class="fas fa-sign-in-alt"></i>
                        </div></a>
                    <div class="col-sm-9">
                        <h3>Login</h3>
                        <p>Already member ? <br>
                            Just login to look at your services !</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>